#title {
    text-align: center;
    font-family: Garamond;
    font-style: italic;
    font-size: 40pt;
}

nav {
    text-align: center;
}

#form-title {
    text-align: center;
    font-weight: bolder;
    font-size: 12pt;
}

.form-container {
    text-align: center;
    border: grey solid 1px;
    padding: .1rem 1rem 1rem 1rem;
    margin: 1rem 2rem;
    background-color: whitesmoke;
    box-shadow: 3px 4px #6495ED
}

textarea {
    height:5rem;
    width: 30%;
}

#filter-container {
    text-align: center;
}

body {
    margin: 20;
    font-family: Arial;
    background-color: wheat;
}

.recipe-card {
    text-align: left;
    border: grey solid 2px;
    padding: 1rem;
    margin: 1rem 2rem;
    background-color: oldlace;
    box-shadow: 3px 4px #008B8B
}

