#title {
    text-align: center;
    font-family: 'Verdana';
    font-size: 30pt;
}

nav {
    text-align: center;
}

#form-title {
    text-align: center;
    font-weight: bolder;
    font-size: 12pt;
}

.form-container {
    text-align: left;
    border: grey solid 1px;
    padding: .1rem 1rem 1rem 1rem;
    margin: 1rem 2rem;
    background-color: whitesmoke;
    box-shadow: 3px 4px #6495ED
}

#filter-container {
    text-align: center;
}

body {
    margin: 20;
    font-family: monospace;
    background-color: wheat;
}

.recipe-card {
    text-align: left;
    border: grey solid 2px;
    padding: 1rem;
    margin: 1rem 2rem;
    background-color: oldlace;
    box-shadow: 3px 4px #008B8B
}